body {
  background-color: #ffffff;
  color: black;
}
.masonry-wrapper {
  padding: 1.5em;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px,1fr));
  grid-gap: 40px;
  grid-auto-rows: 0;
}

@media only screen and (max-width: 767px) and (min-width: 0px) {
  .masonry {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
  
  .masonry-item {
    width: auto;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
  
  
}
@media only screen and (min-width: 1024px) {
  .masonry {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}
.masonry-item, .masonry-content {
  border-radius: 5px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(5px 15px 15px rgba(0, 0, 0, .3));
}
.masonry-content {
  overflow: hidden;
}
.masonry-item {
  color: black;
  background-color: white;
}
.masonry-title, .masonry-description {
  margin: 0;
}
.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  color: brown
}
.masonry-description {
  padding: 1.5rem;
  font-size: .75rem;
  border-top: 1px solid black;
  margin-bottom: 1rem;
}

#r {
  color: brown;
}





/* BARRA DE BOTONES */


.masonry-bar {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px; 
}

.masonry-button {
  font-size: 1.35rem;
  color:white;
  border-left: 1px white solid;
  background-color: rgba(0, 0, 0, 0.809);
}

.masonry-button:hover{
  color:brown;
  text-decoration: none;
}