@font-face {
   font-family: "PT Sans"; 
   src: url('https://fonts.googleapis.com/css?family=PT+Sans');
}

html,
body {
   height: 100%;
   font-family: 'PT Sans';
   
}

img{
   border-radius: 8px;
}


.navbar-custom {
   background-color: #313131 !important;
   z-index: 99999;
}

.navbar-custom .navbar-nav > li > a {
   color: white;
   z-index: 2;
 }

.wrap {
   min-height: 100%;
   height: auto;
   margin: 0 auto -60px;
   padding: 0 0 60px;
}

.wrap > .container {
   padding: 70px 15px 20px;
}

.footer {
   height: 60px;
   background-color: #f5f5f5;
   border-top: 1px solid #ddd;
   padding-top: 20px;
}

.jumbotron {
   text-align: center;
   background-color: transparent;
}

.jumbotron .btn {
   font-size: 21px;
   padding: 14px 24px;
}

.not-set {
   color: #c55;
   font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
   position: relative;
   top: 1px;
   display: inline-block;
   font-family: 'Glyphicons Halflings';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   padding-left: 5px;
}

a.asc:after {
   content: /*"\e113"*/ "\e151";
}

a.desc:after {
   content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
   content: "\e153";
}

.sort-numerical a.desc:after {
   content: "\e154";
}

.sort-ordinal a.asc:after {
   content: "\e155";
}

.sort-ordinal a.desc:after {
   content: "\e156";
}

.grid-view th {
   white-space: nowrap;
}

.hint-block {
   display: block;
   margin-top: 5px;
   color: #999;
}

.error-summary {
   color: #a94442;
   background: #fdf7f7;
   border-left: 3px solid #eed3d7;
   padding: 10px 20px;
   margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
   border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
   background-color: transparent;
}

.glyphicon {
   font-family: "Font Awesome 5 Free";
}

.glyphicon-eye-open:before {
   content: "\f06e";
   color: var(--success);
}

.glyphicon-pencil:before {
   content: "\f044";
   color: var(--primary);
}

.glyphicon-trash:before {
   content: "\f2ed";
   color: var(--danger);
}


.glyphicon-hand-up:before{
   content: "\f164";
   color: var(--primary);
}


.glyphicon-heart:before{
   content: "\f08a";
}

.glyphicon-thumbs-up:before {
   content: "\e125";
}

.fa-bar-chart:before {
   content: "\f080";
   color: aqua;
}

.fa-heart:before {
   color:red;
}

.fa-trash:before {
   color: rgba(128, 0, 6, 0.884);
}

.fa-pencil:before {
   content: "\f303";
   color:green;
}

.fa-sign-in:before {
   content: "\f090";
   color:white;
}


/* IMÃGENES */
.overlay-div {
   height: 100%;
   width: 100%;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.61);
   color: white;
   opacity: .7;
}

.fluid-img > img {
  object-fit: cover;
  opacity: 0.7;
 }


 /* CARDS */
.card-details {
  position:absolute;
  left:40%;
  top:-20px;
  border-radius:50%;
}

.card-font {
  font-size: 0.6rem;
}



/* VENTANA MODAL REGISTRAR */

.modal-content {
  width: auto;
} 
#createContent{
  padding-right: 20%;
}
#header{
  padding-left: 20%;
}


/* ARROW */
html {
    scroll-behavior: smooth !important;
}

.arrow-left, .arrow-right {
  position: absolute;
  margin-left: -35px;
  margin-top: -40px;
  font-size: 4rem;
  z-index: 1;
}

.arrow-circle {
    background: #999;
    border-radius: 50%;
}


.arrow-left {
  top: 55%;
  left: 10%;
  color: black;

}

.arrow-right {
  top: 55%;
  right: 1%;
  color: black;
}


/* SELECT2 */


#select2 {
   padding-right: 10px;
}

@media screen and (max-width: 991px) {

   #select2 {
      display: none;
   }
   
   .label-vertical-minus {
      display: none;
   }

   .vertical-minus {
      display: none;
   }

   .list-group-item-action h5, h4 {
      font-size: 1rem;
   }
   
 }



.small-circular-photo {
   position: relative;
   width: 50px;
   height: 50px;
   overflow: hidden;
   border-radius: 50%;
}

.enlace-select2 {
   padding-left: 5px;
}

select2-results__option:hover a {
   color: #ffffff
}

.select2-container--krajee-bs4 
.select2-results__option.loading-results, 
.select2-container--krajee-bs4 .load-more {
   display: none  !important;
}



/* Generated by Animista on 2020-11-10 21:15:56
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* jello-horizontal
* ----------------------------------------
*/

@keyframes efectoEscalar {
    0% {
        -webkit-transform: scale(1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
      }
    60% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.1);
    }

}
@keyframes efectoEntrada {
    0% {
        -webkit-transform: scale(1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
      }
    60% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.1);
    }

}
.efectoEscalar {
    animation: efectoEscalar 1s;
    animation-iteration-count: 1;
}
.efectoEntrada{
    animation: efectoEntrada 1s;
    animation-iteration-count: 1;
}


.jello-horizontal {
	animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  

/* SIDE LEFT NAVBAR  'PT Sans' */
  
@media screen and (max-width: 991px) {

   .navbar-nav {
      flex-direction: row;
   }
   
   .navbar-nav .nav-link {
      padding-right: 10px;
   }
   
   .navbar-nav > li, .navbar-nav {
     float: left !important;
   } 
   
   .navbar-nav.navbar-right:last-child {
     margin-right: -15px !important;
   }
   
   .navbar-right {
     float: right !important;
   }

   .sidenav {
      top: 100px !important;
   }

   .blogs-site-index {
      margin-top: 40%;
   }

   #img-sidebar {
      max-width: 100px;
   }
   
  

 }


.vertical-minus {
  color: #ffffff;
  transform: rotate(90deg);
}


.dropdown-menu { 
  right: 0 !important; 
  left: auto !important; 
}


.masonry-menu {
  font-family: 'PT Sans'; 
  margin: 0 auto;
  width: 100%;
}


.masonry-menu li {
   cursor: pointer;
   padding: 5% 0% 5% 5%;
   color: #ffffff;
   border-top: 1px solid #ffffff;
}


.masonry-menu li:hover {
   background-color: #a94442;
}

.masonry-menu li a {
   margin-left: -250px;
}

.masonry-menu > ul {
   text-transform: uppercase;
   list-style-type: none;
   padding-inline-start: 0;
   margin-bottom: 0;
}

.wrap.abierto .masonry-menu li a {
   margin-left: 0;
}

.wrap.abierto #nav-title { 
   display: block; 
}

#nav-title {
   display: none;
}

.wrap.abierto #sidenav-left {
   width: 250px;
}


.sidenav {
   border-radius: 5px;
   width: 50px;
   height: auto;
   position: fixed;
   z-index: 99999;
   top: 40px;
   left: 0;
   background-color: #313131;
   overflow: hidden;
   transition: 0.5s;
   top: 300px;
}
 
 .sidenav a {
   display: block;
   text-decoration: none;
   font-size: 0.8em;
   color: #818181;
   transition: 0.3s;
 }


 .sidenav a:hover {
   color: #f1f1f1;
 }
 
.img-container {
   width: 100%;
}

 .img {
   max-width: 100%;
   z-index: 1;
 }

    
div[id*="success-0"] {
   margin-bottom: 0 !important;
   position: fixed;
   color: #ffffff;
   z-index: 5;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #313131;
   color: white;
   text-align: center;
}
 


/* DROPDOWN MENU */


 .box {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 

 .box select {
   background-color: #ffffff;
   color: #1d1d1d;
   padding: 12px;
   width: 200px;
   border: none;
   font-size: 20px;
   box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
   outline: none;
 }


 .box::before {
   font-family: 'PT Sans';
   position: absolute;
   text-align: center;
   font-size: 28px;
   line-height: 45px;
   pointer-events: none;
 }
 

 .box select option {
   padding: 30px;
 }

 

/* NOTIFICACIONES */


.list-group-item p {
   font-size: 0.7rem;
 }

.list-group-item h5 {
   font-size: 1rem;
}

.dropdown-menu {
   padding: 0 !important;
   word-wrap: break-word;
}

.dropdown-menu {
   padding: 0 !important;
   word-wrap: break-word;
}

.dropdown-menu {
   margin-top: 10px;
}
 
.dropdown-header .notificaciones {
   padding: 0 !important;
}

.items {
   font-family: 'PT Sans';
   overflow-y: scroll;
   font-weight: 400;
   color: #212529;
   text-align: inherit;
   white-space: nowrap;
   background-color: transparent;
   padding: 1em;
   max-height: 400px;
}

.items li:last-child {
   border-bottom: 0;
}

.items li {
   padding: 1em; 
   font-size: 0.7rem;
}

.items li {
   border-bottom: #1d1d1d 1px solid;
}

.notificaciones {
   font-family: 'PT Sans';
   text-transform: uppercase;
   background-color: #313131;
   color: #ffffff;
   padding: 1rem;
   text-align: center;
   font-size: 1em;
   
}


.bell > .dropdown-toggle::after {
   content: none !important;
}


.countNotify {
   position: absolute;
   box-sizing: initial;
   background: red;
   border-radius: 50%;
   width: 15px;
   height: 15px;
   font-size: 0.7em;
   color:#ffffff;
   text-align: center;
}


.card-img-top-blog {
   width: 100%;
   height: 14vw;
   object-fit: cover;
}


/* ANIME.JS */

.ml2 {
   font-weight: 1000;
   font-size: 3em;
   position: absolute;
   top: 50%;
   left: 47%;
   margin-top: -50px;
   margin-left: -50px;
 }
 
 .ml2 .letter {
   display: inline-block;
   line-height: 1em;
 }




 /* comentarios */

 .rounded-circle-user {
   border-radius: 50%;
   width: 50px;
   height: 50px;
 }




 /** BACKGROUND SITE INDEX**/



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


  .bg-1 { 
      background: linear-gradient(-45deg, #1d1d1d, #2b4c58, #1d1d1d);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      position: absolute; 
      height: 31.3%;
      margin-top: -22px;
      left: 0%; 
      right: 0%;
      color: #ffffff;
      
   }

@media screen and (min-width: 991px) {

   .blogs-site-index {
      margin-top: 30%;
   }

   .bg-1 {
      height: 341px;
   }

   .countNotify {
      top: 0;
   }

   .paises {
      animation: gradient 15s ease infinite;
      position: absolute;
      background: url(//wa1.narvii.com/static/img/user-pins.svg?v=3);
      background-repeat: no-repeat;
      background-size: cover;
      height: 342px;
      width: 810px;
   }

 }

