html,
body {
   height: 100%;
}

img{
   border-radius: 8px;
}


.wrap {
   min-height: 100%;
   height: auto;
   margin: 0 auto -60px;
   padding: 0 0 60px;
}

.wrap > .container {
   padding: 70px 15px 20px;
}

.footer {
   height: 60px;
   background-color: #f5f5f5;
   border-top: 1px solid #ddd;
   padding-top: 20px;
}

.jumbotron {
   text-align: center;
   background-color: transparent;
}

.jumbotron .btn {
   font-size: 21px;
   padding: 14px 24px;
}

.not-set {
   color: #c55;
   font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
   position: relative;
   top: 1px;
   display: inline-block;
   font-family: 'Glyphicons Halflings';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   padding-left: 5px;
}

a.asc:after {
   content: /*"\e113"*/ "\e151";
}

a.desc:after {
   content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
   content: "\e153";
}

.sort-numerical a.desc:after {
   content: "\e154";
}

.sort-ordinal a.asc:after {
   content: "\e155";
}

.sort-ordinal a.desc:after {
   content: "\e156";
}

.grid-view th {
   white-space: nowrap;
}

.hint-block {
   display: block;
   margin-top: 5px;
   color: #999;
}

.error-summary {
   color: #a94442;
   background: #fdf7f7;
   border-left: 3px solid #eed3d7;
   padding: 10px 20px;
   margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
   border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
   background-color: transparent;
}

.glyphicon {
   font-family: "Font Awesome 5 Free";
}

.glyphicon-eye-open:before {
   content: "\f06e";
   color: var(--success);
}

.glyphicon-pencil:before {
   content: "\f044";
   color: var(--primary);
}

.glyphicon-trash:before {
   content: "\f2ed";
   color: var(--danger);
}


.glyphicon-hand-up:before{
   content: "\f164";
   color: var(--primary);
}


.glyphicon-heart:before{
   content: "\f08a";
}

.glyphicon-thumbs-up:before {
   content: "\e125";
}

.fa-bar-chart:before {
   content: "\f080";
   color: aqua;
}

.fa-heart:before {
   color:red;
}

.fa-trash:before {
   color: rgba(128, 0, 6, 0.884);
}

.fa-pencil:before {
   content: "\f303";
   color:green;
}

.fa-sign-in:before {
   content: "\f090";
   color:white;
}


/* IMÃGENES */
.overlay-div {
   height: 100%;
   width: 100%;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.61);
   color: white;
   opacity: .7;
}

.fluid-img > img {
  object-fit: cover;
  opacity: 0.7;
 }


 /* CARDS */
.card-details {
  position:absolute;
  left:40%;
  top:-20px;
  border-radius:50%;
}
.card-font {
  font-size: 0.6rem;
}



/* VENTANA MODAL REGISTRAR */



.modal-content {
  width: auto;
} 
#createContent{
  padding-right: 20%;
}
#header{
  padding-left: 20%;
}


/* ARROW */
html {
    scroll-behavior: smooth !important;
}

.arrow-left, .arrow-right {
  position: absolute;
  margin-left: -35px;
  margin-top: -40px;
  font-size: 4rem;
  z-index: 9999;
}

.arrow-circle {
    background: #999;
    border-radius: 50%;
}


.arrow-left {
  top: 55%;
  left: 10%;
  color: black;

}

.arrow-right {
  top: 55%;
  right: 1%;
  color: black;
}


/* SELECT2 */
.select2-selection__arrow b{
   display:none !important;
}


.small-circular-photo{
   position: relative;
   width: 50px;
   height: 50px;
   overflow: hidden;
   border-radius: 50%;
}

.enlace-select2 {
   padding-left: 5px;
}

select2-results__option:hover a {
   color: #ffffff
}

.select2-selection__clear {
   display:none !important;
}

                                       
/* .enlace-select2:hover{
   color: #ffffff;
} */

/* ANIMACIONES  */


/* Generated by Animista on 2020-11-10 21:15:56
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* jello-horizontal
* ----------------------------------------
*/

@keyframes efectoEscalar {
    0% {
        -webkit-transform: scale(1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
      }
    60% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.1);
    }

}
@keyframes efectoEntrada {
    0% {
        -webkit-transform: scale(1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
      }
    60% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1.1);
    }

}
.efectoEscalar {
    animation: efectoEscalar 1s;
    animation-iteration-count: 1;
}
.efectoEntrada{
    animation: efectoEntrada 1s;
    animation-iteration-count: 1;
}


.jello-horizontal {
	animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  